force-app/main/default/flows/Delay_and_Emit_Cancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Day_Increment</name>
        <label>Day Increment</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>DurationCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Day_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hour_Increment</name>
        <label>Hour Increment</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>DurationCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Hour_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Loop_Variables</name>
        <label>Init Loop Variables</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>WaitStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DurationCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Days_or_Hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Days_or_Hours</name>
        <label>Days or Hours</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Is_Hour_Limit_Reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hours</defaultConnectorLabel>
        <rules>
            <name>Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DelayConfiguration.delayIncrement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Day_Limit_Reached</targetReference>
            </connector>
            <label>Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Day_Limit_Reached</name>
        <label>Is Day Limit Reached?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Wait_1_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loop Again</defaultConnectorLabel>
        <rules>
            <name>Day_Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DurationCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DelayConfiguration.delayAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emit_Cancel</targetReference>
            </connector>
            <label>Day Limit Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hour_Limit_Reached</name>
        <label>Is Hour Limit Reached?</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Wait_1_Hr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loop Again</defaultConnectorLabel>
        <rules>
            <name>Limit_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DurationCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DelayConfiguration.delayAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emit_Cancel</targetReference>
            </connector>
            <label>Limit Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_valid_line_item_to_complain_about</name>
        <label>Is this a valid line item to complain about?</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Inputs Missing</defaultConnectorLabel>
        <rules>
            <name>Inputs_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DelayConfiguration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Loop_Variables</targetReference>
            </connector>
            <label>Inputs Ready</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delay and Emit Cancel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delay and Emit Cancel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Emit_Cancel</name>
        <label>Emit Cancel</label>
        <locationX>314</locationX>
        <locationY>1226</locationY>
        <inputAssignments>
            <field>Cancel_Identifier__c</field>
            <value>
                <elementReference>CancelIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancel_Type__c</field>
            <value>
                <elementReference>CancelType</elementReference>
            </value>
        </inputAssignments>
        <object>Flow_Cancel__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_valid_line_item_to_complain_about</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DelayConfiguration</name>
        <apexClass>FlowDelayConfiguration</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DurationCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WaitStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_1_Day</name>
        <label>Wait 1 Day</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Day_Increment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOOP</defaultConnectorLabel>
        <waitEvents>
            <name>Perform_Day_Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Day_Increment</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>WaitStart</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Perform Day Wait</label>
            <outputParameters>
                <assignToReference>WaitStart</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_1_Hr</name>
        <label>Wait 1 Hr</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Hour_Increment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOOP</defaultConnectorLabel>
        <waitEvents>
            <name>Perform_Hour_Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Hour_Increment</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>WaitStart</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Perform Hour Wait</label>
            <outputParameters>
                <assignToReference>WaitStart</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
