force-app/main/default/flows/Manage_Merge_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <choices>
        <name>Account_Choice</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact_Choice</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead_Choice</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <description>Screen flow to set metadata that controls custom merging.</description>
    <environments>Default</environments>
    <interviewLabel>Manage Merge Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Merge Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Object type to manage merge settings for.</description>
        <name>Choose_Object_Type</name>
        <label>Choose Object Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Settings</targetReference>
        </connector>
        <fields>
            <name>Object_Picklist</name>
            <choiceReferences>Account_Choice</choiceReferences>
            <choiceReferences>Contact_Choice</choiceReferences>
            <choiceReferences>Lead_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Account_Choice</defaultSelectedChoiceReference>
            <fieldText>Object Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manage_Settings</name>
        <label>Manage Settings</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Manage_LWC</name>
            <extensionName>csuoee:mergeSettingsManagement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <elementReference>Object_Picklist</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Object_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Selected_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
