force-app/main/default/flows/Search_Opus_Registrations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Run the query in current state.</description>
        <name>Query_Middleware</name>
        <label>Query Middleware</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <actionName>RegistrationValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>View_Query_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>page</name>
            <value>
                <elementReference>QueryRegistrationsRequest.page</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageSize</name>
            <value>
                <elementReference>QueryRegistrationsRequest.pageSize</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>term</name>
            <value>
                <elementReference>QueryRegistrationsRequest.term</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RegistrationValidation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>RegistrationQuerySet</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Page 1, PageSize 10, Passed Term.</description>
        <name>Initialize_Opus_Request</name>
        <label>Initialize Opus Request</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.page</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.pageSize</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Middleware</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First</name>
        <label>Set First</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.page</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Middleware</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next</name>
        <label>Set Next</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.page</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Middleware</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Put RegId number into output record.</description>
        <name>Set_Output_Registration_Id</name>
        <label>Set Output Registration Id</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Registration.Registration_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Registrations.firstSelectedRow.Registration_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Previous</name>
        <label>Set Previous</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>QueryRegistrationsRequest.page</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrevious</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Middleware</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If registration is not actually selected, return to query page.</description>
        <name>Check_Registration_Selected</name>
        <label>Check Registration Selected</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Registration_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Output Id</defaultConnectorLabel>
        <rules>
            <name>Registration_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registrations.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>View_Query_Results</targetReference>
            </connector>
            <label>Registration Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Errors out if a hed__Term__c wasn&apos;t passed into this flow.</description>
        <name>Evaluate_Term_Input</name>
        <label>Evaluate Term Input</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Initialize_Opus_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Start Flow</defaultConnectorLabel>
        <rules>
            <name>Term_is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Term</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Term is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Select path user selected.</description>
        <name>Handle_Results_Switcher</name>
        <label>Handle Results Switcher</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViewResultsSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>Previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViewResultsSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Previous</targetReference>
            </connector>
            <label>Previous</label>
        </rules>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViewResultsSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next</targetReference>
            </connector>
            <label>Next</label>
        </rules>
        <rules>
            <name>Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViewResultsSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Import</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Registration_Selected</targetReference>
            </connector>
            <label>Import</label>
        </rules>
    </decisions>
    <description>Search for and Import an Opus registration when given a term to search in.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns page - 1 unless page = 1.</description>
        <name>GetPrevious</name>
        <dataType>Number</dataType>
        <expression>CASE({!QueryRegistrationsRequest.page}, 1, 1, {!QueryRegistrationsRequest.page}-1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Search Opus Registrations: {!Term.Name}</interviewLabel>
    <label>Search Opus Registrations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>View the query results.</description>
        <name>View_Query_Results</name>
        <label>View Query Results</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Handle_Results_Switcher</targetReference>
        </connector>
        <fields>
            <name>Registrations</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Registration__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opus Registrations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RegistrationQuerySet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;csuoee__Registration_Id__c&quot;,&quot;guid&quot;:&quot;column-0fd3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Registration Id&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;csuoee__Short_Description__c&quot;,&quot;guid&quot;:&quot;column-9d93&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Summary&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Short Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TableOperations</name>
            <extensionName>csuoee:chooserBank4</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel1</name>
                <value>
                    <stringValue>First</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel3</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel4</name>
                <value>
                    <stringValue>Import</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant4</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue1</name>
                <value>
                    <stringValue>First</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue2</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue3</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue4</name>
                <value>
                    <stringValue>Import</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ViewResultsSwitcher</assignToReference>
                <name>switcher1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ViewResultsSwitcher</assignToReference>
                <name>switcher4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ViewResultsSwitcher</assignToReference>
                <name>switcher3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ViewResultsSwitcher</assignToReference>
                <name>switcher2</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Term_Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Page</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Packaged request for the middleware for registrations.</description>
        <name>QueryRegistrationsRequest</name>
        <apexClass>csuoee__QueryRegistrationsRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The registration to import.</description>
        <name>Registration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <description>Collection of Registrations returned from Middleware query.</description>
        <name>RegistrationQuerySet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <description>The Term in which to search for Opus Registrations.</description>
        <name>Term</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
    <variables>
        <name>ViewResultsSwitcher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
